
{%  extends 'base.html.twig' %}

{% block content %}



    <section class="jumbotron text-center">
        <h2>Liste des poissons</h2>
    </section>
    <div class="row">
    {% for fish in fishes  %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{ fish.image }}"  alt="Card image cap" height="300px">
        <div class="card-body">
            <p class="card-text">{{ fish.name }} | {{ fish.name|reverse }}</p>
            <div class="btn-group">
                <button class="btn btn-dark">{{ fish.category.name }}</button>

            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{path('album' , {
                        'fishId' : fish.id
                    }) }}" >
                        <button type="button" class="btn btn-success">View</button>
                    </a>
                    <button type="button" class="btn btn-warning">Edit</button>
                </div>
                <small class="text-muted">{{ fish.price }} €</small>
            </div>
        </div>
            </div>
        </div>

    {% endfor %}
    </div>


{% endblock %}